<center><h1><strong>Recipes List</strong></h1></center>
<table class="table table-striped table-bordered">
  <thead>
    <th>Coffee</th>
    <th>Method</th>
    <th>Quantity</th>
    <th span="1"></th>
  </thead>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.coffee %></td>
      <td><%= recipe.method %></td>
      <td><%= recipe.quantity  %></td>
      <td><%= link_to "Show", recipe_path(recipe) %></td>
    </tr>
  <% end %>
</table>


