<div class="container-fluid">
  <div class="center">
    <h1><strong>Welcome to CoffeeConnection</strong></h1>

    <%= link_to 'Log in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  </div>
</div>
